<!-- <div class="container mt-4">
     <div class="card my-2">
       <div class="card-body">
         <h5 class="card-title ">How are you feeling today ?</h5>
         <div class="card-text ">  
         </div>
       </div>
     </div>
</div> -->

<div class="container ">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title ">How are you feeling today ?</h5>
        <div class="card-text ">
            
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                  &nbsp; Great :)
                </div>

                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                  &nbsp; Not so great :(
                </div>
                <!-- <input type="text" class="form-control" aria-label="Text input with checkbox"> -->
              </div>
           
        </div>
      </div>
    </div>
</div>
