<div class="container mt-4">
    <!-- <div *ngFor = "let survey of surveys"> -->
       <div class="card my-2">
         <div class="card-body">
           <h5 class="card-title ">Survey Name</h5>
           <div class="card-text ">
           
             <form>
             <div class="mb-3">
               <label for="question" class="form-label">Question</label>
               <input type="text" class="form-control" id="question" aria-describedby="emailHelp">
             </div>

             <div class="form-check">
                <input class="form-check-input" type="radio" name="textbox" id="textbox" value="textbox">
                <label class="form-check-label" for="textbox">
                  Text Box
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioButton" id="radioButton" value="radioButton">
                <label class="form-check-label" for="radioButton">
                  Radio
                </label>
              </div>

             
                <div class="mb-3">
                  <label for="question" class="form-label">Enter Option</label>
                  <input type="text" class="form-control" id="question" aria-describedby="emailHelp">
                </div>

             <button type="submit" class="btn btn-primary">Submit</button>
           </form>
  
         </div>
         </div>
       </div>