<app-user-nav></app-user-nav>


<section class="vh-100">
  <div class="container py-5">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
      alt="Sample image">   
     </div>
  <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
  <form (ngSubmit) = "registerUser()">

    <!-- first name -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example1">First name</label>
      <input 
        type="text"
        name="first"
        class="form-control"
       [(ngModel)]="user.first_name" />
    </div>
  
    <!-- last name -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example1">Last name</label>
      <input 
      type="text" 
      class="form-control" 
      name="first"

      [(ngModel)]="user.last_name"/>
    </div>

    <!-- email -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example1">Email</label>
      <input 
      type="email" 
      class="form-control"
      name="first"
 
      [(ngModel)]="user.username"/>
    </div>

    <!-- password -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example4">Password</label>
      <input 
      type="password" 
      class="form-control"
      name="first" 
      [(ngModel)]="user.password"/>
  </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  </form>
  </div>
  </div>
  </div>
</section>
