<div class="container ">
     <div class="card my-2">
       <div class="card-body">
         <h5 class="card-title ">How are you feeling today ?</h5>
         <div class="card-text ">  
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
              </div>
         </div>
       </div>
     </div>
</div>
