<app-navbar></app-navbar>

<div class="row mt-4 mx-4">
  <div class="card border-light border-4 mx-4" style="width: 40%; ">
    <img src="assets\img\celpax-ZoGOw9WYMtQ-unsplash1.jpg" class="card-img-top" alt="...">
    <div class="card-body border-light border">
      <h5 class="card-title">Create New Survey</h5>
      <p class="card-text">Creating New survey forms and share the invite link.</p>
      <a href="surveyCreation" class="btn btn-primary">Create</a>
    </div>
  </div>


  <div class="card border-light border-4 mx-4" style="width: 40%; ">
    <img src="assets\img\luke-chesser-JKUTrJ4vK00-unsplash1.jpg" class="card-img-top" alt="...">
    <div class="card-body border-light border">
      <h5 class="card-title">Review Previous Survey</h5>
      <p class="card-text">Review previously submitted surveys and view analysis.</p>
      <a href="previousSurvey" class="btn btn-primary ">Review</a> 
    </div>
  </div>
</div>



<!-- <div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create new Survey</h5>
        <p class="card-text">Creating new survey forms and share the invite link.</p>
        <a href="surveyCreation" class="btn btn-primary">Create</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review Previous Survey</h5>
        <p class="card-text">Review previously submitted surveys and view analysis.</p>
        <a href="previousSurvey" class="btn btn-primary">Review</a>
      </div>
    </div>
  </div>
</div> -->
